---
layout: default

---
<div class="topNav" style="margin: 1.17vw 1.5vw 0vw 1.5vw ">
    <a href="{{ site.baseurl }}/photo">PHOTO</a>
    <a href="{{ site.baseurl }}/cinema">CINEMA</a>
</div>

<div class="photo-thumbnail">
    <img src="" loading="lazy" class="thumbnail-img">
</div>

<div class="cinema-thumbnail">
    <img src="" loading="lazy" class="thumbnail-img-cinema">
</div>

<div class="centerList">  
  <div></div>    
    <ul>
        {% for photo in site.photo reversed %}
        <a href="{{ site.baseurl }}{{ photo.url }}"><li class="item" data-image="{{ site.baseurl }}/{{ photo.thumbnail }}">{{ photo.title }}</li></a>
        {% endfor %}
        {% for cinema in site.cinema %}
        <a href="{{ site.baseurl}}{{ cinema.url }}"><li class="cinemaitem" data-image="{{ site.baseurl }}/{{ cinema.main_image }}">{{ cinema.title }}</li></a>
        {% endfor %}
    </ul>
    <div></div>
</div>




<div class="bottomNav">
    <a href="{{ site.baseurl }}/about">ABOUT</a>
    <a href="{{ site.baseurl }}/index">PEDRO J. MÁRQUEZ</a>
    <a href="{{ site.baseurl }}/all" class="all">ALL</a>
</div>

<script>
    const items = document.querySelectorAll('.item')
    const image = document.querySelector('.thumbnail-img')

    const cinemaitems = document.querySelectorAll('.cinemaitem')
    const cinemaimage = document.querySelector('.thumbnail-img-cinema')

    const links = document.getElementsByTagName("a");

    items.forEach((el) => {
      el.addEventListener('mouseover', (e) => {
        imageData = e.target.getAttribute('data-image')
        // e.target.style.zIndex = 99
        image.setAttribute('src', imageData)
        $('.thumbnail-img').show();
        document.body.style.backgroundColor = "white";
        document.body.style.color = "black";
        $('a').css('color', 'black');
      })
      el.addEventListener('mouseleave', (e) => {
        //e.target.style.zIndex = 1
        image.setAttribute('src', '')
        $('.thumbnail-img').hide();
      })
    })

    cinemaitems.forEach((x) => {
      x.addEventListener('mouseover', (e) => {
        imageData = e.target.getAttribute('data-image')
        //e.target.style.zIndex = 99
        cinemaimage.setAttribute('src', imageData)
        $('.thumbnail-img-cinema').show();
        
        document.body.style.backgroundColor = "black";
        document.body.style.color = "white";
        $('a').css('color', 'white');

      })
      x.addEventListener('mouseleave', (e) => {
        //e.target.style.zIndex = 1
        cinemaimage.setAttribute('src', '')
        $('.thumbnail-img-cinema').hide();
      })
    })
</script>