---
layout: default
---
<div id="mySidebar">
    <a href="{{ site.baseurl }}/about"><p>ABOUT</p></a>
    <a href="{{ site.baseurl }}/photo"><p>PHOTO</p></a>
    <a href="{{ site.baseurl }}/cinema"><p>CINEMA</p></a>
</div>

<div class="navigation">
    <a href="{{ site.baseurl }}/index"><img src="{{ site.baseurl }}/assets/img/logo.svg" alt="logo" class="logo"></a>
</div>

<button class="hamburger hamburger--squeeze navigation" type="button" style="outline:none">
    <span class="hamburger-box">
    <span class="hamburger-inner"></span>
    </span>
</button>



<div class="topNav">
    {% assign tests = site.photo | reverse %}
    {% for test in tests limit:1  %}
        <a href="{{ site.baseurl }}{{ test.url }}" class="activeLink">{{ test.title }}</a>
    {% endfor %}
    {% for test in tests offset:1 %}
        <a href="{{ site.baseurl }}{{ test.url }}" class="photoLinks">{{ test.title }}</a>
    {% endfor %}
</div>

<!--
<div class="nav-mobile">
    <a href="{{ site.baseurl }}/photo">PHOTO</a>
    <a href="{{ site.baseurl }}/cinema" style="opacity: 0.3;">CINEMA</a>
</div>
-->

<div class="photo-carousel">
    {% for test in tests limit:1 %}
        {% for item in test.images %}
        <div class="carousel-cell"><img src="{{ site.baseurl }}{{ item }}"/></div>
        {% endfor %}
        {% if test.project_description %}
        <div class="carousel-cell">
            <div class="projectText">{{test.project_description}}</div>
        </div>
        {% endif %}
    {% endfor %}

</div>

<div class="bottomNav">
    <a href="{{ site.baseurl }}/about">ABOUT</a>
    <a href="{{ site.baseurl }}/index">PEDRO J. MÁRQUEZ</a>
    <a href="{{ site.baseurl }}/all" class="all">ALL</a>
</div>


<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity-fade@1/flickity-fade.js"></script>

<script>
    $('.photo-carousel').flickity({
    // options
    cellAlign: 'center',
    contain: true,
    pageDots: false,
    wrapAround: true,
    prevNextButtons: true,
    });

    const mediaQuery = window.matchMedia("(min-width: 600px)")
    if (mediaQuery.matches) {
        $('.photo-carousel').flickity({
        autoPlay: 5000,
        fade: true,
        });
    }   

</script>
