---
layout: default
---
<div id="mySidebar">
    <img src="{{ site.baseurl }}/assets/img/close.svg" alt="menu icon" class="close-icon">
    <a href="{{ site.baseurl }}/about"><p>ABOUT</p></a>
    <a href="{{ site.baseurl }}/photo"><p>PHOTO</p></a>
    {% for photo in site.photo %}
    <a href="{{ site.baseurl }}/{{ photo.url }}"><p class="project-titles">{{ photo.title }}</p></a>
    {% endfor %}
    <a href="{{ site.baseurl }}/cinema"><p>CINEMA</p></a>
    {% for cinema in site.cinema %}
    <a href="{{ site.baseurl }}/{{ cinema.url }}"><p class="project-titles">{{ cinema.title }}</p></a>
    {% endfor %}   
</div>

<div class="navigation">
    <a href="{{ site.baseurl }}/index"><img src="{{ site.baseurl }}/assets/img/logo.svg" alt="logo" class="logo"></a>
    <img src="{{ site.baseurl }}/assets/img/menu.svg" alt="menu icon" class="menu-icon">
</div>

<div class="mobile">
    {% for photo in site.photo reversed %}
    {% for item in photo.images %}
        <section>
            <img class="photo-mobile" data-info='{{ photo.title }}/{{ forloop.index }}/{{ forloop.length }}' src="{{ site.baseurl }}/{{ item }}">
            <div class="mobile-description"><span>{{ photo.title }}</span> <span style="opacity: 0.3;">{{ forloop.index }}/{{ forloop.length }}</span></div>
        </section>
    {% endfor %}
    {% endfor %}
</div>



<div class="topNav">
    {% for photo in site.photo reversed %}
    {% if photo.mainProject == true %}
        <a href="{{ site.baseurl }}/{{ photo.url }}" class="activeLink">{{ photo.title }}</a>
    {% else %}
        <a href="{{ site.baseurl }}/{{ photo.url }}" class="photoLinks">{{ photo.title }}</a>
    {% endif %}
    {% endfor %}
</div>

<!--
<div class="nav-mobile">
    <a href="{{ site.baseurl }}/photo">PHOTO</a>
    <a href="{{ site.baseurl }}/cinema" style="opacity: 0.3;">CINEMA</a>
</div>
-->

<div class="projectImages">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for photo in site.photo %}
            {% if photo.mainProject == true %}
                {% for item in photo.images %}
                {% if forloop.first %}
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-center align-items-center w-100 h-100">
                            <img src="{{ site.baseurl }}/{{ item }}"/>
                        </div>
                    </div>
                    {% else %}
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center align-items-center w-100 h-100">
                            <img src="{{ site.baseurl }}/{{ item }}"/>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

</div>

<div class="bottomNav">
    <a href="{{ site.baseurl }}/about">ABOUT</a>
    <a href="{{ site.baseurl }}/index">PEDRO J. MÁRQUEZ</a>
    <a href="{{ site.baseurl }}/all">ALL</a>
</div>

<script>
    onePageScroll(".mobile", {
     sectionContainer: "section",     // sectionContainer accepts any kind of selector in case you don't want to use section
     easing: "ease",                  // Easing options accepts the CSS3 easing animation such "ease", "linear", "ease-in",
                                      // "ease-out", "ease-in-out", or even cubic bezier value such as "cubic-bezier(0.175, 0.885, 0.420, 1.310)"
     animationTime: 1000,             // AnimationTime let you define how long each section takes to animate
     pagination: false,                // You can either show or hide the pagination. Toggle true for show, false for hide.
     updateURL: false,                // Toggle this true if you want the URL to be updated automatically when the user scroll to each page.
     beforeMove: function(index) {},  // This option accepts a callback function. The function will be called before the page moves.
     afterMove: function(index) {},   // This option accepts a callback function. The function will be called after the page moves.
     loop: true,                     // You can have the page loop back to the top/bottom when the user navigates at up/down on the first/last page.
     keyboard: true,                  // You can activate the keyboard controls
     responsiveFallback: false        // You can fallback to normal page scroll by defining the width of the browser in which
                                      // you want the responsive fallback to be triggered. For example, set this to 600 and whenever
                                      // the browser's width is less than 600, the fallback will kick in.
  });


    


  </script>