ul
    list-style-type: none
    padding: 0
li 
    margin-bottom: 2.2vh
    opacity: 0.3

li:hover
    opacity: 1 

.centerList
    display: grid
    grid-template-columns: 1.5fr 1fr 1fr 
    font-size: 1.2vw
    margin: 0 1.5vw

.photo-thumbnail
    display: flex
    align-items: center
    justify-content: center
    width: 45%
    position: absolute
    height: 80%

.thumbnail-img
    width: 45%
    z-index: 10
    display: none


.cinema-thumbnail
    display: flex
    align-items: center
    justify-content: center
    width: 40%
    position: absolute
    height: 80%
    right: 0

.thumbnail-img-cinema 
    width: 55%
    z-index: 10
    display: none