
@media screen and ( min-width: 2500px )

    .trailer-container
        font-size: 0.9em

    .topNav, .bottomNav
        font-size: 1vw
    
    .logo, .logo-white
        width: 13% !important

    .aboutText
        font-size: 0.9vw