.active

.photoLinks
    opacity: 0.1

.carousel 
    height: 82vh
    display: flex
    justify-content: center
    align-items: center

.carousel-inner 
    text-align: center

.carousel-item img
    width: 45%


.carousel-control-prev-icon, .carousel-control-next-icon
    background-image: none

.carousel-control-next, .carousel-control-prev
    width: 38%

.carousel-control-prev:hover
  cursor: url('../img/arrow-left.svg'), auto;	

.carousel-control-next:hover
  cursor: url('../img/arrow-right.svg'), auto;	
