.active

.photoLinks
    opacity: 0.1

.carousel 
    height: 82vh


.carousel-inner 
    height: 100%

.carousel-item 
    height: 100%
    
.landscape
    width: 40%

.portrait
    height: 75vh

.carousel-control-prev-icon, .carousel-control-next-icon
    background-image: none

.carousel-control-next, .carousel-control-prev
    width: 38%

.carousel-control-prev:hover
    cursor: url('../img/arrow-left.svg'), auto

.carousel-control-next:hover
    cursor: url('../img/arrow-right.svg'), auto	


