.active

.photoLinks
    opacity: 0.1

.photo-carousel.is-fullscreen .carousel-cell 
    height: 100%;

.flickity-enabled.is-fullscreen
    z-index: 11 !important

.flickity-enabled.is-fullscreen
    .projectText
        color: white

.flickity-page-dots 
    display: none !important

.photo-carousel 
    .carousel-cell 
        width: 100%
        height: 75vh
        margin-right: 10px
        display: flex
        justify-content: center
        align-items: center

.photo-carousel
    margin-top: 5vh

.photo-carousel
    .carousel-cell img
        max-height: 65vh

.flickity-prev-next-button
    .flickity-button-icon
        display: none

.flickity-button.flickity-fullscreen-button.flickity-fullscreen-button-view
    .flickity-button-icon
        display: none

.flickity-button.flickity-fullscreen-button.flickity-fullscreen-button-view
    position: absolute
    top: 12vh
    left: 26vw
    height: 47vh
    width: 47vw
    background: transparent

.flickity-fullscreen-button
    .flickity-button-icon
        left: 8px !important


.flickity-prev-next-button
    height: 100% !important
    width: 40vw !important
    background: transparent !important
    border-radius: 0 !important

.flickity-prev-next-button.previous:hover
    cursor: url('../img/arrow-left.svg'), auto

.flickity-prev-next-button.next:hover
    cursor: url('../img/arrow-right.svg'), auto	

.projectText
    font-family: "Minion Pro", sans-serif
    font-size: 1.2vw
    max-width: 38vw

@media screen and ( min-width: 835px )
    .flickity-button.flickity-fullscreen-button.flickity-fullscreen-button-view
        display: none

@media screen and ( max-width: 835px )
    .carousel-img
        max-width: 82%


    .mobile-description
        width: 85%
        display: flex
        justify-content: space-between
        font-size: 5vw
        margin-top: 1.5vh
        position: absolute
        bottom: 30px

    .nav-mobile
        position: absolute
        bottom: 0
        display: flex
        justify-content: space-between
        width: 85%
        margin: 30px
        font-size: 5.5vw

    .topNav
        font-size: 4.5vw
        position: fixed
        bottom: 5px
        left: 0
        right: 0
        margin: 2.5vw 8vw
        display: flex
        flex-direction: column

    .topNav a 
        margin-bottom: 2vh


    .photo-carousel
        .carousel-cell img
            max-width: 85%
            max-height: 90%

    .photo-carousel 
        .carousel-cell 
            height: 50vh
            margin-top: 10vh

    .flickity-prev-next-button
        width: 44px !important

        
    .photo-carousel
        margin-top: 0

    .projectText
        max-width: 85vw
        font-size: 4vw

    .flickity-enabled.is-fullscreen
        .carousel-cell 
            margin-top: 6vh

    