---
layout: default
---

<div class="topNav">
    {% for project in site.projects reversed %}
    {% if project.title == page.title %}
        <a href="{{ project.url }}" class="activeLink">{{ project.title }}</a>
    {% else %}
        <a href="{{ project.url }}" class="photoLinks">{{ project.title }}</a>
    {% endif %}
    {% endfor %}
</div>

<div class="projectImages">
    {% for item in page.images %}
        <img src="{{ site.baseurl }}/assets/img/{{ item }}"/>
    {% endfor %}
</div>

<div class="bottomNav">
    <a href="{{ site.baseurl }}/about">ABOUT</a>
    <a href="{{ site.baseurl }}/home">PEDRO J. MÁRQUEZ</a>
    <a href="{{ site.baseurl }}/all">ALL</a>
</div>